# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.aab
*.ap_
*.dex
local.properties

# Kotlin
*.kotlin_metadata

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# 签名密钥(本地开发时避免误提交新密钥)
*.jks
*.keystore
!modules/keystore/mjh-release.jks

# Android 额外
captures/
.cxx/
