<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

        <uses-permission android:name="android.permission.INTERNET" />

        <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application

    

    
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdBlockerX"
        tools:targetApi="34" android:extractNativeLibs="false" android:largeHeap="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AdBlockerX">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposeddescription" android:value="AdBlockerX Pro - 增强版广告拦截：应用层全部 Hook + Root 系统级 hosts/PrivateDNS/DNS解析/Shizuku桥接 + 实验性 iptables/VPN 拦截" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />

        <!-- FileProvider: APK 热更新安装 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
